.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;

    h1 {
        font-weight: 600;
        font-size: 32px;
    }
}

.logo__wrapper {
    display: inline-block;
    padding-left: 20px;
    padding-right: 5px;
    background-color: var(--accent);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
